.card {
  max-width: 400px;
  min-width: 300px;
  margin: 1em;
}

// .center {
//   display: flex;
//   justify-content: center;
//   // margin: 1
// }

.card-content {
  margin: 1em;
}
.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  // background-size: cover;
  height: 3em;
  width: 3em;
  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.title-text, p {
  color: #FFFFFFB3;
}