<ng-container *ngFor="let dog of dogs">
  <div class="center">
    <mat-card class="card">
      <mat-card-header [routerLink]="['/profile/', dog.age]">
        <div mat-card-avatar class="example-header-image">
          <img class="example-header-image" [src]="dog.image" loading="lazy" />
        </div>
        <mat-card-title class="title-text">{{dog.name}}</mat-card-title>
        <mat-card-subtitle>{{dog.breed}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="dog.image" alt="Photo of a dog" [routerLink]="['/profile/', dog.age]" loading="lazy">
      <mat-card-content class="card-content">
        <p>
          {{dog.bio}}
        </p>
      </mat-card-content>
      <mat-card-actions class="center">
        <button mat-flat-button [routerLink]="['/profile/', dog.age]">Learn More!</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>