.card {
  max-width: 100%;
  margin: 1em;
}

.card-content {
  margin: 1em;
}
.avatar {
  height: 3em;
  width: 3em;
  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.title-text, p {
  color: #FFFFFFB3;
}