.container, img {
    max-width: 400px;
}

.profilephoto {
    // img {
        // border-radius: 50%;
        object-fit: cover;
        height: 300px;
        width: 300px;
    //   }
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    // margin: 1em;
}
.center{
    overflow-y: scroll;
    height: 100%;
}

// .container {
//     max-width: 400px
// }