<div class="center">
  <ng-container *ngFor="let dog of currentDog;">
    <mat-card class="container">
      <mat-card-header>
        <mat-button [routerLink]="['/']">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back_ios"></mat-icon>
        </mat-button>
        <mat-card-title-group>
          <mat-card-title>
            <h1> {{dog.name}}</h1>
          </mat-card-title>
          <!-- <mat-card-subtitle>"{{dog.quote}}"</mat-card-subtitle> -->
          <mat-card-subtitle>
            Likes:
            {{dog.likes}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            Dislikes:
            {{dog.dislikes}}
          </mat-card-subtitle>
          <img mat-card-xl-image [src]="dog.profileImage">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <h3>About:</h3>
        {{dog.profile}}
        
        <h3>Feeding Schedule:</h3>
        {{dog.feeding}}
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>