<div class="center" >
  <p [routerLink]="['/']">Back</p>
  <ng-container *ngFor="let dog of currentDog;">
    <div class="container">
      <div class="header">

        <img [src]="dog.profileImage" alt="dog photo" loading="lazy" class="profilephoto" />

      </div>
      <h1>{{dog.name}}</h1>
      <sub>{{dog.quote}}</sub>
      <p>Likes:</p>
      <p> {{dog.likes}}</p>
      <p>Dislikes:</p>
      <p> {{dog.dislikes}}</p>
      <p>About:</p>
      <p>{{dog.profile}}</p>
    </div>
  </ng-container>
</div>